{:paths ["src" "target/classes"]
 :deps
 {io.undertow/undertow-core {:mvn/version "2.3.0.Final"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    org.clojure/clojure {:mvn/version "1.11.1-rc1"}
    org.clojure/test.check {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    criterium/criterium {:mvn/version "RELEASE"}
    org.slf4j/slf4j-nop {:mvn/version "RELEASE"}
    com.taoensso/nippy {:mvn/version "3.1.1"}
    funcool/promesa {:mvn/version "8.0.450"}}

   :extra-paths ["test" "dev" "target/classes"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :build
  {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
   :ns-default build}}}
