{:paths ["src" "target/classes"]
 :deps
 {io.undertow/undertow-core {:mvn/version "2.2.16.Final"}}


 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
    org.clojure/test.check {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    criterium/criterium {:mvn/version "RELEASE"}
    org.slf4j/slf4j-nop {:mvn/version "RELEASE"}
    com.taoensso/nippy {:mvn/version "3.1.1"}

    funcool/promesa {:mvn/version "8.0.450"}}

   :extra-paths ["test" "dev" "target/classes"]}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.7.4" :git/sha "ac442da"}}
   :ns-default build}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}

